
<%@ page import="com.merkenlabs.admincondo.Owner" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'owner.label', default: 'Owner')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-owner" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-owner" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
				<thead>
					<tr>
					
						<g:sortableColumn property="name" title="${message(code: 'owner.name.label', default: 'Name')}" />
					
						<g:sortableColumn property="username" title="${message(code: 'owner.username.label', default: 'Username')}" />
					
						<g:sortableColumn property="password" title="${message(code: 'owner.password.label', default: 'Password')}" />
					
						<g:sortableColumn property="accountExpired" title="${message(code: 'owner.accountExpired.label', default: 'Account Expired')}" />
					
						<g:sortableColumn property="accountLocked" title="${message(code: 'owner.accountLocked.label', default: 'Account Locked')}" />
					
						<g:sortableColumn property="enabled" title="${message(code: 'owner.enabled.label', default: 'Enabled')}" />
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${ownerInstanceList}" status="i" var="ownerInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td>${fieldValue(bean: ownerInstance, field: "name")}</td>
					
						<td><g:link action="show" id="${ownerInstance.id}">${fieldValue(bean: ownerInstance, field: "username")}</g:link></td>
					
						<td>*****</td>
					
						<td><g:formatBoolean boolean="${ownerInstance.accountExpired}" /></td>
					
						<td><g:formatBoolean boolean="${ownerInstance.accountLocked}" /></td>
					
						<td><g:formatBoolean boolean="${ownerInstance.enabled}" /></td>
					
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${ownerInstanceTotal}" />
			</div>
		</div>
	</body>
</html>
